.hero-text{
    margin-top: 20%;
}

.img-doctor-virus{
    width: 100%;
    margin-top: 15%;
}

.hero-title{
    font-size:28px;
    font-weight: bold;
}

.margTopSection{
    margin-top: 100px;
}

.detailButton{
    margin-top:60px;
    margin-bottom:70px;
}
